body {
    background-color: black;
    margin: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    align-items: center;


}

a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

a:hover {
    color: blue;
}

.logo {
    display: flex;
    flex-direction: row;

}

.card {
    display: flex;
    flex-direction: row;
    /* padding: 50px; */
    background-color: rgb(21, 21, 20);
    margin: 20px;
}

button {
    background-color: orange;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-top: 50px;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* justify-content: center; */
}